# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
click==7.1.2
flask==1.1.2
flask-marshmallow==0.14.0
flask-sqlalchemy==2.4.4
gunicorn==20.0.4
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
marshmallow==3.10.0
psycopg2==2.8.5
sqlalchemy==1.3.22
werkzeug==1.0.1